<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/image/(2).jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Sale</h5>
        <p>Huge Sale Today</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/image/(3).jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>古言</h5>
        <p>デジタル大辞泉 - 古言の用語解説 - 1 古代の人が用いた言語。古い言葉。2 昔の人の言った言葉。古くからの名言。
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/image/(5).jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fei</h5>
        <p>Watch and learn</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="carousel-item">
  <img src="..." alt="...">

</div>
