
<header>
  <a href="index.html"><img src="../../assets/image//header-logo.jpg" alt="headerlogo"></a>
  <h2>Bakery Ecommerce Management System</h2>
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log out</a>
</header>
<nav id="nav_menu">
  <ul>
    <li>
      <a [routerLink]="['/orderlist']" routerLinkActive="router-link-active">
        Home
        </a>
    </li>
    <li>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">
        Log in
        </a>
    </li>
    <li>
      <a [routerLink]="['/productlist']" routerLinkActive="router-link-active">
        Product list
        </a>
    </li>
    <li>
      <a [routerLink]="['/productcreate']" routerLinkActive="router-link-active">
        Product create
        </a>
    </li>
    <li>
      <a [routerLink]="['/productedit']" routerLinkActive="router-link-active">
        Product edit
        </a>
    </li>
    <li>
      <a [routerLink]="['/orderdetail']" routerLinkActive="router-link-active">
        Order detail
        </a>
    </li>
    <li>
      <a [routerLink]="['/reportpage']" routerLinkActive="router-link-active">
        Report
        </a>
    </li>
    <li>
      <a [routerLink]="['/slideshow']" routerLinkActive="router-link-active">
        Slide show
        </a>
    </li>
  </ul>
</nav>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
<!-- Router view goes here -->
