.titleHead{
  float:left;
  height: 50px;
  width: 700px;
  background-color: #555;
}

.orderStatus{
  float: right;
  background-color: white;
  color: black;
  padding: 2px;
  margin:2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.order{
  margin: 0 auto;
  width: 700px;
  background-color: lightgray;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.orderNumber{
  font-size: 30px;
}

a{
  color:white;
}
a:hover{
  color:Black;
}
