<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="orders.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header>
      <span class="orderId"><strong>Order # </strong> &nbsp;{{ order.id }}&nbsp;</span>
      <span class="date"> <strong>Date </strong> &nbsp;{{ order.date }}&nbsp;</span>
      <span class="status"><strong>Status </strong> &nbsp;{{order.status}}&nbsp;</span>
    </mat-expansion-panel-header>

    <strong>Customer id </strong> &nbsp;{{ order.customer_id }}&nbsp;

    <strong>Subtotal: </strong> &nbsp;{{ order.subtotal }}&nbsp;
    <strong>Tax: </strong> &nbsp;{{ order.tax }}&nbsp;
    <strong>Total: </strong> &nbsp;{{ order.total }}&nbsp;

    <a *ngIf="userIsAuthenticated" mat-button color="primary" [routerLink]="['/updateorder', order.id]">Update</a>
    <div class="order">
      <div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Name</th>
              <th scope="col">Item Quantity</th>
              <th scope="col">Item Price</th>
              <th scope="col">Donated?</th>
              <th scope="col">Gift?</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of order.orderProductName;let i = index">
              <th scope="row">{{ order.orderProductId[i]}}</th>
              <td>{{order.orderProductName[i]}}</td>
              <td>{{order.orderProductQuantity[i]}}</td>
              <td>{{order.orderProductPrice[i]}}</td>
              <td>{{order.orderProductIsDonation[i]}}</td>
              <td>{{order.orderProductIsGift[i]}}</td>
              <td>{{order.orderProductComment[i]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>



</mat-accordion>

<p class="info-text mat-body-1" *ngIf="orders.length <= 0 && !isLoading">No orders yet!</p>
