<div class="containAll">
  <h1>Order Number: {{ this.Order.orderNumber }}</h1>
  <h1>Order Date: {{ this.Order.orderDate }}</h1>
<div class="orderItems">
    <h1>Order Items</h1>

    <div>
       <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item Number</th>
          <th scope="col">Item Name</th>
          <th scope="col">Item Quantity</th>
          <th scope="col">Item Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of this.Order.orderItems">
          <th scope="row">{{ i.itemNumber }}</th>
          <td>{{ i.itemName }}</td>
          <td>{{ i.itemQuantity }}</td>
          <td>{{ i.itemPrice }}</td>
        </tr>
      </tbody>
    </table>
</div>
</div>

  <div class="shippingDetail">
    <h1>Shipping Detail</h1><br/>
    <label > Full Name </label> <br/>
    <label id="fullName">{{this.Order.shippingDetail.fullName}}</label><br/>
    <label> Address </label> <br/>
    <label id="address">{{this.Order.shippingDetail.address}}</label><br/>
    <label> Address Additional Info </label> <br/>
    <label id="addressAdditional">{{this.Order.shippingDetail.addressAdditional}}</label><br/>
    <label> City </label> <br/>
    <label id="city">{{this.Order.shippingDetail.city}}</label><br/>
    <label> Province </label> <br/>
    <label id="province">{{this.Order.shippingDetail.province}}</label><br/>
    <label> Postal Code </label> <br/>
    <label id="postalCode">{{this.Order.shippingDetail.postalCode}}</label><br/>
    <label> Phone </label> <br/>
    <label id="phone">{{this.Order.shippingDetail.phone}}</label><br/>
    <label> Delivery Mode </label> <br/>
    <textarea cols="50" id="deliveryMode" readonly>{{this.Order.shippingDetail.deliveryMode}}</textarea><br/>
    <label> Delivery Note </label> <br/>
    <textarea cols="50" id="deliveryNote" readonly>{{this.Order.shippingDetail.deliveryNote}}</textarea>
  </div>

</div>
