.shippingDetail label:nth-child(4n+1){
  font-weight: bold;
}

.containAll{
  width:1200px;
  margin: 0 auto;
}

.orderItems{
  width:500px;
  float: left;
  margin: 30px;
}

.shippingDetail{
  display: inline;
}
