<mat-card>
    <img mat-card-image src="../../assets/image/create.png">
    <mat-card-content>
        <p>Create New Item</p>
    </mat-card-content>

</mat-card>



<mat-card onload="insertPhoto()">

    <img mat-card-image src="../assets/image/(1).jpg">
    <mat-card-content>
        <p>Create New Item</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="primary">Remove</button>
    </mat-card-actions>
</mat-card>


<mat-card *ngFor="let photo of photoList">
    <select class="productStatus">
        <option value="public">Public</option>
        <option value="private">Private</option>
    </select>
    <img mat-card-image  src="../../assets/image/ {{ photo}}">
    <mat-card-content>
        <p>{{ photo}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="primary">Remove</button>
    </mat-card-actions>
</mat-card>



