<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveOrder()" *ngIf="!isLoading">
    <mat-form-field>
      <strong>Current Shippping Detail:</strong>
      <textarea matInput type="text" formControlName="shipping_id" placeholder=""></textarea>
      <mat-error *ngIf="form.get('shipping_id').invalid">Please enter a shipping id.</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>

      <label formControlName="status">Current Status: </label>
    </mat-form-field> -->
    <mat-form-field>

      <mat-label>New Status?</mat-label>
      <mat-select formControlName="status">
        <mat-option value="ToBeConfirmed">ToBeConfirmed</mat-option>
        <mat-option value="Processing">Processing</mat-option>
        <mat-option value="Prepared">Prepared</mat-option>
        <mat-option value="Shipped">Shipped</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status').invalid"></mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Order</button>
  </form>
</mat-card>
