<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveOrder()" *ngIf="!isLoading">
    <span class="orderId"><strong>Order # </strong> &nbsp;{{ order.id }}&nbsp;</span>


    <mat-expansion-panel>
    <mat-expansion-panel-header>
      <span class="orderId" ><strong>Order # </strong> &nbsp;{{ order.id }}&nbsp;</span>
      <span class="date"> <strong>Date </strong> &nbsp;{{ order.date }}&nbsp;</span>
      <span class="status"><strong>Status </strong> &nbsp;{{order.status}}&nbsp;</span>
    </mat-expansion-panel-header>

    <strong>Customer id </strong> &nbsp;{{ order.customer_id }}&nbsp;

    <strong>Subtotal: </strong> &nbsp;{{ order.subtotal }}&nbsp;
    <strong>Tax: </strong> &nbsp;{{ order.tax }}&nbsp;
    <strong>Total: </strong> &nbsp;{{ order.total }}&nbsp;

    <div class="order">
      <div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Name</th>
              <th scope="col">Item Quantity</th>
              <th scope="col">Item Price</th>
              <th scope="col">Donated?</th>
              <th scope="col">Gift?</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of order.orderProductName;let i = index">
              <th scope="row">{{ order.orderProductId[i]}}</th>
              <td>{{order.orderProductName[i]}}</td>
              <td>{{order.orderProductQuantity[i]}}</td>
              <td>{{order.orderProductPrice[i]}}</td>
              <td>{{order.orderProductIsDonation[i]}}</td>
              <td>{{order.orderProductIsGift[i]}}</td>
              <td>{{order.orderProductComment[i]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-form-field>
    <strong>Current Shippping Detail:</strong>
    <textarea matInput type="text" formControlName="shipping_id" placeholder=""></textarea>
    <mat-error *ngIf="form.get('shipping_id').invalid">Please enter a shipping id.</mat-error>
  </mat-form-field>

  <mat-form-field>

    <mat-label>New Status?</mat-label>
    <mat-select formControlName="status">
      <mat-option value="ToBeConfirmed">ToBeConfirmed</mat-option>
      <mat-option value="Processing">Processing</mat-option>
      <mat-option value="Prepared">Prepared</mat-option>
      <mat-option value="Shipped">Shipped</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('status').invalid"></mat-error>
  </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Order</button>
  </form>
</mat-card>
